body {
    display: flex;
    justify-content: center;
}

.toggleItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 50px;
    position: relative;
}

.toggleItem p {

    color: red;
    position: absolute;
    top: 30%;
    left: 0;
}

.question {
    background: #c7c4c444;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;

}
.title{
    display: flex;justify-content: space-between;
}